DB_NAME=
DB_USER=
DB_PWD=
DB_PORT=
DATABASE_URL=
JWT_SECRET=
NODE_ENV=
HASH_SALT=
JWT_TTL=
REFRESH_TTL=

GMAIL_USER=
GMAIL_APP_PWD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

OTP_TTL=
OTP_MAX_TRY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_URL=
